@use "reset";
@use "design-tokens/fonts" as *;
@use "design-tokens/colors" as *;
@use "design-tokens/tokens" as *;
@use "utilities/flex" as *;
@use "utilities/container-wrapper" as *;
@use "design-system" as *;
@use "components/atoms/logo" as *;
@use "components/atoms/title" as *;
@use "components/atoms/post-preview" as *;
@use "components/atoms/burger" as *;
@use "components/atoms/text" as *;
@use "components/atoms/button" as *;
@use "components/atoms/nav-items" as *;
@use "components/atoms/scroll-top" as *;
@use "components/molecules/cards" as *;
@use "components/molecules/form" as *;
@use "components/molecules/pagination" as *;
@use "components/molecules/dropdowns" as *;
@use "components/organisms/header" as *;
@use "components/organisms/asides" as *;
@use "components/organisms/slider" as *;
@use "components/organisms/footer" as *;
@use "components/pages/front-page" as *;
@use "components/pages/about" as *;
@use "components/pages/blog" as *;
@use "components/pages/full-post" as *;
@use "components/pages/dev" as *;
@use "utilities/odometer" as *;

body {
  font-family: $text-font;
  background-color: $background-color;
  color: $default-color;
  overflow-x: hidden;
}

#tld-theme-toggle-button {
  position: fixed;
  top: $spacer-sm;
  right: $spacer-sm;
}

*:not(h1)::selection {
  background-color: $flash-color;
  color: $default-color;
}

.content-wysiwyg {
  h2 {
    margin-block-end: $spacer-xl;
    @include heading-medium-1;
  }

  h3 {
    margin-block-end: $spacer-lg;
    @include heading-small-1;
  }

  p {
    margin-block-end: $spacer-lg;
    @include text-paragraph-1;
  }
  strong {
    font-weight: 800;
  }
  color {
    color: $primary-color;
  }

  ul,
  ol {
    @include list;
  }

  a {
    color: $secondary-color;
    text-decoration: none;

    &:hover {
      color: $primary-color;
    }
  }
  p:last-child {
    margin-block-end: 0;
  }
}
