@use "reset";
@use "design-tokens/fonts" as *;
@use "design-tokens/colors" as *;
@use "design-tokens/tokens" as *;
@use "utilities/flex" as *;
@use "utilities/container-wrapper" as *;
@use "design-system" as *;
@use "components/atoms/logo" as *;
@use "components/atoms/title" as *;
@use "components/atoms/burger" as *;
@use "components/atoms/text" as *;
@use "components/atoms/button" as *;
@use "components/atoms/nav-items" as *;
@use "components/molecules/cards" as *;
@use "components/organisms/header" as *;
@use "components/organisms/asides" as *;
@use "components/pages/front-page" as *;

body {
  font-family: $text-font;
  background-color: $background-color;
  color: $default-color;
  main {
    min-height: 200vh;
  }
}

#tld-theme-toggle-button {
  position: fixed;
  top: $spacer-sm;
  right: $spacer-sm;
}
