@use "../../utilities/container-wrapper" as *;
@use "../../design-tokens/colors" as *;
@use "../../design-tokens/fonts" as *;
@use "../../design-tokens/tokens" as *;
@use "../../components/atoms/title" as *;
@use "../../components/molecules/layouts" as *;
@use "../../components/atoms/text" as *;
@use "../../components/molecules/layouts" as *;
@use "../../components/organisms/slider" as *;
@use "../../components/organisms/sections" as *;

#main-about {
  .section-intro {
    @include section-intro;
  }

  .section-advantages {
    background-color: $purple-color;
    padding-block: $spacer-xxl;
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: $spacer-xxl;
      margin-block-end: $spacer-xxl;
    }
    h2 {
      @include heading-large-1;
      text-align: center;
    }
    h3 {
      @include heading-small-1;
      min-height: calc($spacer-xl * 2.5);
    }
    img {
      width: 100px;
      height: 100px;
      object-fit: contain;
      margin-block-end: $spacer-md;
      margin-inline: auto;
    }
    .advantages-container {
      display: flex;
      flex-direction: column;
      gap: $spacer-xxl;
      & > div {
        padding: $spacer-xl $spacer-xxl;
        text-align: center;
        @media (width >= $breakpoint-xl) {
          width: calc(100% / 3);
        }
      }
      @media (width >= $breakpoint-xl) {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  .section-our_team {
    background-color: $gray-color;
    padding-block: $spacer-xxl;
    .our-team-member {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr;
      gap: $spacer-xxl;
      margin-block-end: $spacer-big;
      @media (width >= $breakpoint-lg) {
        grid-template-columns: 1fr 1fr;
        &:nth-child(even) {
          img {
            order: 1;
          }
          & > div {
            order: 2;
          }
        }
        &:nth-child(odd) {
          img {
            order: 2;
          }
          & > div {
            order: 1;
          }
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $spacer-md;
        h3 {
          @include heading-medium-1;
        }
      }
    }
  }

  .section-our_values {
    padding-block-start: $spacer-xxl;
    @media (width >= $breakpoint-lg) {
      padding-block-end: calc($spacer-xxl * 2);
      padding-inline: $spacer-big;
    }
    h2 {
      @include heading-large-1;
      text-align: center;
      margin-block-end: calc($spacer-xxl * 3);
    }
    h3 {
      @include heading-small-1;
      min-height: calc($spacer-xl * 2.5);
    }
    p {
      max-width: 75ch;
    }
    img {
      width: 100px;
      height: 100px;
      object-fit: contain;
      margin-block-end: $spacer-md;
      margin-inline: auto;
    }
    .our-values-container {
      display: flex;
      flex-direction: column;
      gap: $spacer-xxl;
      & > div {
        padding: $spacer-xl $spacer-xxl;
        text-align: center;
      }
      @media (width >= $breakpoint-lg) {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}

@mixin dropdown-custom-hover-open($color: $primary-color) {
  overflow: hidden;
  //hover and focus states
  &:focus-visible {
    outline: $spacer-xs solid $color;
    outline-offset: calc($spacer-xs * -1);
  }
  &:focus-within:has(.nav-link:focus-visible) {
    outline: $spacer-xs solid $color;
    .dropdown-menu {
      outline: none;
    }
  }
  .nav-link {
    display: grid;
    gap: $spacer-xs;
    grid-template-columns: minmax($icon-sm, auto) 1fr;
    align-items: center;
    .svg-container {
      transition: all 0.2s step-start;
      svg {
        width: 0;
        transition: all 0.3s ease;
        path {
          fill: $default-color;
          stroke: $default-color;
        }
      }
    }
    .dropdown-title {
      @include text-nav;
    }
  }
  .dropdown-menu {
    //position absolute
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    background-color: $background-color;
  }

  &:has(.dropdown-link.open),
  &:hover,
  &:focus,
  &:focus-within {
    overflow: initial;
    .dropdown-link {
      cursor: pointer;
      .svg-container {
        svg {
          width: $font-size-xs;
          transition: all 0.3s ease;
        }
      }
    }
    .dropdown-menu {
      // animation
      opacity: 1;
      pointer-events: auto;
      transition: opacity 0.2s ease-in-out;
      width: 100%;
      transition: 0;
      padding-block: $spacer-lg;
      & > div {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: $spacer-xl;
        width: 100%;
        border: 2px solid $default-color;
        padding: $spacer-xl;
      }
      .img-container {
        padding: $spacer-sm;
        width: 75px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .card {
        gap: $spacer-xxl;
        padding-block-end: $spacer-xl;
        position: relative;
        transition: box-shadow 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94),
          border-color 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
        &:hover {
          border-color: $default-color;
          a {
            color: $default-color;
          }
          .svg-container svg path {
            fill: $default-color;
            stroke: $default-color;
          }
        }
        .flex-between {
          display: flex;
          justify-content: space-between;
          align-items: end;
          height: 100%;
          width: 100%;
          a {
            @include text-paragraph-bold;
            text-decoration: none;
            max-width: 10ch;
            height: 100%;
            align-self: top;
            &::after {
              @include stretched-link;
            }
          }
          .svg-container {
            width: $font-size-default;
            svg {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}

.dropdown-hover {
  @include dropdown-custom-hover-open;
}

.navmenu-mobile {
  & > ul {
    display: flex;
    width: 100%;
    border: 2px solid $default-color;
    padding: $spacer-xl $spacer-xxl;
    align-items: initial;
  }
  .img-container {
    padding: $spacer-sm;
    width: 75px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .card {
    width: 100%;
    position: relative;
    height: fit-content;
    transition: box-shadow 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94),
      border-color 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    &:hover {
      border-color: $default-color;
      a {
        color: $default-color;
      }
      .svg-container svg path {
        fill: $default-color;
        stroke: $default-color;
      }
    }
    .flex-between {
      display: flex;
      justify-content: space-between;
      align-items: end;
      width: 100%;
      a {
        @include text-paragraph-bold;
        text-decoration: none;
        &::after {
          @include stretched-link;
        }
      }
      .svg-container {
        width: $font-size-default;
        svg {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
