@use "../../design-tokens/tokens" as *;
@use "../../design-tokens/colors" as *;
@use "../../components/atoms/post-preview" as *;
@use "../../components/atoms/text" as *;
@use "../../components/atoms/title" as *;
@use "../../components/molecules/cards" as *;
@use "../../components/molecules/layouts" as *;
@use "../../components/organisms/sections" as *;
@use "../../utilities/container-wrapper" as *;

#main-home,
#main-category,
#main-taxonomy {
  .section-intro {
    margin-block-end: $spacer-big;
    display: flex;
    flex-direction: row;
    @include section-intro;
    .section-content {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      gap: $spacer-xxl;
    }
  }
  .section-blog {
    padding-block-end: $spacer-big;
    .blog-container {
      display: grid;
      grid-template-columns: 1fr;
      gap: $spacer-xl;
      .post-preview {
        padding-block: $spacer-xl;
        padding-inline: 0;
        @include post-preview;
        @media (width >= $breakpoint-xl) {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: $spacer-xl;
        }
        .cat-container {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          span {
            margin-inline-end: $spacer-sm;
          }
        }
        .content-container {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: $spacer-lg;
          @media (width >= $breakpoint-xl) {
            justify-content: space-evenly;
            padding-block-start: $spacer-xl;
            height: 100%;
          }
          h3 {
            min-height: 0;
          }
          p {
            margin-block-end: $spacer-xl;
          }
        }
      }
    }
  }
}

#main-category,
#main-taxonomy {
  .section-intro {
    margin-block-end: 0;
    align-items: center;
  }
}

#section-featured-posts,
#section-related-posts {
  background: $gray-color;
  background-size: 50% 100%;
  padding-block-end: $spacer-big;
  padding-inline: $spacer-xl;
  @media (width >= $breakpoint-md) {
    padding-inline: $spacer-big;
  }
  @media (width >= $breakpoint-xl) {
    padding-inline-start: 10%;
  }
  .section-featured-posts-header,
  .section-related-posts-header {
    display: flex;
    flex-direction: column;
    gap: $spacer-xl;
    margin-block-end: $spacer-xl;
    padding-block-start: $spacer-xxl;
    @media (width >= $breakpoint-md) {
      padding-inline-end: 10%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .section-title {
      color: $default-color;
      max-width: 25ch;
      text-align: start;
      margin-block: 0;
      @include heading-large-1;
    }
  }
}

.blog-container {
  @include card-layout;
  .blog-item {
    position: relative;
    .cat-container {
      span {
        margin-inline-end: $spacer-sm;
      }
    }
    @media (width >= $breakpoint-xxl) {
      .cat-container {
        min-height: 3.3em;
      }
      h3 {
        min-height: 3.3em;
      }
    }
  }
}
