@use "../../utilities/container-wrapper" as *;
@use "../../design-tokens/colors" as *;
@use "../../design-tokens/fonts" as *;
@use "../../design-tokens/tokens" as *;
@use "../../components/atoms/title" as *;
@use "../../components/molecules/layouts" as *;
@use "../../components/atoms/text" as *;
@use "../../components/molecules/layouts" as *;
@use "../../components/organisms/slider" as *;
@use "../../components/organisms/sections" as *;

#main-branding-design {
  .section-intro {
    margin-block-end: $spacer-big;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: $spacer-xl;
    padding-block-start: $spacer-xxl;
    @media (width <= $breakpoint-xl) {
      margin-block-end: $spacer-xxl;
      padding-block-start: $spacer-xl;
    }
    @media (width >= $breakpoint-lg) {
      .button-pills {
        margin-inline-start: -25%;
      }
    }
    h1 {
      margin-block-end: $spacer-xl;
    }

    .section-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: $spacer-xl;
      .intro-content-container {
        display: flex;
        flex-direction: column;
        gap: $spacer-xl;
        margin-block-start: $spacer-xl;
        h2 {
          @include heading-medium-1;
          color: $primary-color;
        }
        @media (width >= $breakpoint-lg) {
          max-width: 80ch;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          .description {
            max-width: 60%;
          }
        }
      }
    }
  }
}

.section-3 {
  .section-3-container {
    display: flex;
    flex-direction: column;
    gap: $spacer-xl;
    padding-block: $spacer-xxl;
    @media (width >= $breakpoint-xl) {
      flex-direction: row;
    }
  }
  .section-3-content {
    display: flex;
    flex-direction: column;
    gap: $spacer-xl;
    @media (width >= $breakpoint-xl) {
      min-width: 50%;
    }
    h3 {
      @include heading-medium-large-1;
      color: $primary-color;
      margin-block-end: $spacer-xxl;
    }
    .btn-pill {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border: 2px solid $primary-color;
      border-radius: $border-radius-pill;
      padding: $spacer-sm $spacer-xl;
      gap: $spacer-xl;
      width: fit-content;
      h2 {
        @include heading-small-1;
        color: $primary-color;
      }
    }
  }
  .section-3-items {
    display: flex;
    flex-direction: column;
    gap: $spacer-xl;
    .section-3-item {
      --image-size: 60px;
      display: grid;
      gap: $spacer-xl;
      grid-template-columns: 1fr;
      grid-template-rows: var(--image-size) 1fr;
      @media (width >= $breakpoint-sm) {
        grid-template-columns: var(--image-size) 1fr;
        grid-template-rows: 1fr;
      }
      h4 {
        @include heading-small-1;
        color: $primary-color;
        margin-block-end: $spacer-xs;
      }
      .section-3-item-image {
        width: var(--image-size);
        height: var(--image-size);
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.section-4 {
  padding-block: $spacer-xxl;
  .section-4-container {
    display: flex;
    flex-direction: column;
    gap: $spacer-xxl;
    .section-4-item {
      display: flex;
      flex-direction: column;
      h2 {
        @include heading-big-1;
        color: $primary-color;
        text-align: center;
        margin-block-end: $spacer-xl;
      }
      & > .content-wysiwyg {
        max-width: 80ch;
        margin-inline: auto;
        margin-block-end: $spacer-xxl;
      }
      .section-4-img-content {
        display: flex;
        flex-direction: column;
        gap: $spacer-xl;
        color: $contrast-color;
        margin-block-end: $spacer-xxl;

        &:nth-child(5n + 1 of .section-4-img-content) {
          background-color: $blue-color;
        }
        &:nth-child(5n + 2 of .section-4-img-content) {
          background-color: $green-color;
        }
        &:nth-child(5n + 3 of .section-4-img-content) {
          background-color: $purple-color;
        }
        &:nth-child(5n + 4 of .section-4-img-content) {
          background-color: $orange-color;
        }
        &:nth-child(5n + 5 of .section-4-img-content) {
          background-color: $dark-blue-color;
        }

        @media (width >= $breakpoint-xl) {
          flex-direction: row;
          gap: $spacer-xl;
        }

        &:not(:has(.section-4-img-content-image)),
        &:not(:has(.section-4-img-content-content h3)) {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          gap: $spacer-xl;
          background-color: $background-color;
          h3 {
            @include heading-medium-1;
          }
          .content-wysiwyg {
            max-width: 120ch;
            margin-inline: auto;
          }
          .section-4-img-content-image {
            max-height: 400px;
            overflow: hidden;
            width: auto;
            @media (width >= $breakpoint-xl) {
              padding-block-start: $spacer-xxl;
            }
          }
          .section-4-img-content-content {
            width: 100%;
          }
        }
        .section-4-img-content-image {
          width: 100%;
          max-height: 400px;
          overflow: hidden;
          @media (width >= $breakpoint-xl) {
            width: 50%;
            max-height: initial;
          }
        }
        .section-4-item-image {
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .section-4-img-content-content {
          padding: $spacer-xxl;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          gap: $spacer-xl;
          @media (width >= $breakpoint-xl) {
            width: 50%;
          }
          h3 {
            @include heading-medium-1;
          }
          .content-wysiwyg {
            max-width: 80ch;
            margin-inline: auto;
          }
        }
        @media (width >= $breakpoint-xl) {
          &:nth-child(even) {
            flex-direction: row-reverse;
            .section-4-img-content-image {
              order: 1;
            }
            .section-4-img-content-content {
              order: 2;
            }
          }
        }
      }
    }
  }
}
