@use "../../utilities/container-wrapper" as *;
@use "../../design-tokens/colors" as *;
@use "../../design-tokens/fonts" as *;
@use "../../components/atoms/title" as *;
@use "../../components/molecules/layouts" as *;
@use "../../components/atoms/text" as *;
@use "../../components/molecules/layouts" as *;
@use "../../components/organisms/slider" as *;
@use "../../components/organisms/sections" as *;

#main-front-page {
  .section-intro {
    display: flex;
    flex-direction: row;
    @include section-intro;
    .section-content {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      gap: $spacer-xxl;
    }
  }

  .section-our_values {
    background-color: $secondary-color;

    padding-inline: $spacer-xl;
    @include layout-left-right;
    .layout-content {
      color: $white-color;
      padding-block-start: $spacer-xxl;
      h2 {
        @include heading-large-1;
      }
      p {
        max-width: 50ch;
      }
    }
  }

  .section-expertise {
    @media (width >= $breakpoint-xl) {
      margin-block-end: $spacer-bigger;
    }
    .expertise {
      position: relative;
      background-color: $background-color;
      display: grid;
      grid-template-columns: calc($spacer-xxl * 1.5) auto auto;
      grid-template-rows: $spacer-big auto;
      align-items: center;
      padding-block: $spacer-xl;
      border-block-end: 1px solid $default-color;
      &:first-child {
        border-block-start: 1px solid $default-color;
      }
      p {
        grid-row: 2;
        grid-column: 2 / 4;
      }
      span {
        padding-inline-start: $spacer-sm;
        @include heading-small-1;
      }
      h3 {
        padding-inline-start: $spacer-lg;
        @include heading-medium-1;
      }
      a {
        vertical-align: top;
        @include stretched-link;
      }
      svg {
        width: var(--font-size-default);
        height: var(--font-size-default);
        align-self: flex-start;
        margin-inline-start: auto;
        path {
          stroke: $default-color;
          fill: $default-color;
        }
      }
      &:hover {
        svg {
          animation: arrow-animation-up 0.4s ease-in-out forwards;
        }
      }
      @media (width >= $breakpoint-xxl) {
        grid-template-columns:
          calc($spacer-xxl * 2) minmax(500px, auto) 1fr calc($spacer-xxl * 2)
          0;
        grid-template-rows: $spacer-big;
        p {
          grid-row: 1;
          grid-column: 3 / 4;
        }
      }
    }
  }
}

.projects-container {
  @include column-layout;
  .cat-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: $spacer-xs;
    a {
      text-decoration: none;
    }
    .expertise-number {
      @include text-lead;
    }
    .separator:last-child {
      display: none;
    }
  }
  h3 {
    @include heading-medium-1;
  }
}

.section-team {
  @media (width >= $breakpoint-xl) {
    margin-block-end: $spacer-bigger;
  }
  .team-container {
    @include card-layout;
  }
  .button-container {
    width: fit-content;
    margin-inline: auto;
    margin-block-start: $spacer-xxl;
  }
}

.section-reviews {
  margin-block: $spacer-xxl;
  h2 {
    @include heading-large-1;
    @media (width >= $breakpoint-xl) {
      margin-block-start: $spacer-xxl;
    }
  }
  .review {
    background-color: $purple-color;
    @include layout-right-left;

    .review-content {
      color: $contrast-color;
      .review-name {
        @include text-base;
        font-size: $font-size-sm;
      }
    }
  }
}
