@use "../../design-tokens/colors" as *;
@use "../../design-tokens/fonts" as *;
@use "../../components/atoms/text" as *;
@use "../../components/atoms/title" as *;
@use "../../components/molecules/cards" as *;
@use "../../components/molecules/layouts" as *;
@use "../../utilities/container-wrapper" as *;
@use "../../design-tokens/tokens" as *;

@mixin post-content() {
  padding-block-end: $spacer-xxl;
  h2 {
    margin-block: $spacer-xl $spacer-lg;
    color: $orange-color;
    @include heading-small-1;
  }
  h3 {
    margin-block: $spacer-lg $spacer-md;
    color: $purple-color;
    @include heading-default-1;
  }
  ul,
  ol {
    & {
      padding-inline: $spacer-sm;
      padding-block: $spacer-xl;
      li {
        margin-bottom: $spacer-md;
        margin-inline-start: $spacer-lg;
        @include text-paragraph-1;
      }
      li:last-child {
        margin-bottom: 0;
      }
    }
  }
  strong {
    @include text-paragraph-bold;
  }
  code {
    width: 100%;
    display: inline-block;
    background: $black-color;
    color: $white-color;
    padding: $spacer-lg;
    border-radius: $border-radius-rounded;
    margin-block: $spacer-lg;
  }
  a {
    color: $primary-color;
    text-decoration: none;
    &:hover {
      color: color-mix(in srgb, $primary-color, $contrast-color 30%);
    }
  }
}

.post-full {
  display: flex;
  flex-direction: column;
  gap: $spacer-xl;
  .post-header {
    display: flex;
    flex-direction: column;
    padding-block: $spacer-xl;
    @media (width >= $breakpoint-sm) {
      gap: $spacer-lg;
    }
    @media (width >= $breakpoint-lg) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    #breadcrumbs {
      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: $spacer-md;
        li {
          a,
          span {
            text-decoration: none;
            color: $default-color;
            text-transform: uppercase;
            @include text-paragraph-1;
            &[aria-current="page"] {
              color: $purple-color;
            }
            &:hover {
              color: $secondary-color;
            }
          }
          &:last-child .separator {
            display: none;
          }
          .separator {
            background-color: $contrast-color;
          }
        }
      }
    }
    .post-date {
      display: flex;
      align-items: center;
      gap: $spacer-md;
      @include text-paragraph-1;
      .separator {
        background-color: $default-color;
      }

      @media (width >= $breakpoint-lg) {
        span:first-child {
          color: $default-color;
        }
        span:last-child {
          color: $default-color;
        }
        .separator {
          background-color: $default-color;
        }
      }
    }
    .separator {
      display: inline-block;
      width: 3px;
      height: $font-size-xs;
      vertical-align: middle;
      margin-block: auto;
      @media (width >= $breakpoint-lg) {
        height: $font-size-default;
        vertical-align: bottom;
      }
    }
  }

  .title-gradient {
    line-height: 1;
    margin-block: $spacer-xl;
  }
  .img-container {
    width: 100%;
    height: 500px;
    margin-block-start: $spacer-xxl;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .post-content {
    @include post-content;
  }
}

.post-categories {
  display: flex;
  flex-wrap: wrap;
  gap: $spacer-sm;
  align-items: center;
  span {
    margin-inline-end: $spacer-sm;
  }
}

#section-related-posts {
  margin-block-end: calc($spacer-big * 2);
}
