/* Colors */
:root {
  /* black and white */
  --color-scheme: light dark;
  --white-color: #ffffff;
  --black-color: #000000;
  --background-color: var(--white-color);
  --contrast-color: var(--white-color);
  --default-color: #17194a;
  --gray-color: #f5f5f5;

  /* primary colors */
  --primary-color: #6785ff;

  /* secondary colors */
  --secondary-color: #f5b5ee;

  /* tertiary colors */
  --blue-color: #99c2fe;
  --green-color: #5cdec8;
  --purple-color: #9278ff;
  --orange-color: #ffbe99;
  --dark-blue-color: #0801a2;

  /* accent colors */
  --accent-color: var(--primary-color);
  --linear-gradient-color: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color),
    var(--orange-color)
  );
}

.dark-theme {
  --black-color: #1e1e1e;
  --background-color: var(--black-color);
  --contrast-color: #17194a;
  --default-color: var(--white-color);
  --gray-color: #45476e;

  /* primary colors */
  --primary-color: #e9fe5f;

  /* secondary colors */
  --secondary-color: #d497ec;

  /* tertiary colors */
  --blue-color: #a2ecff;
  --green-color: #beff9d;
  --purple-color: #ffd8f3;
  --orange-color: #ffb88f;
  --dark-blue-color: #99c2fe;
  /* accent colors */
  --accent-color: var(--primary-color);
  --linear-gradient-color: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color),
    var(--orange-color)
  );
}

$black-color: var(--black-color);
$white-color: var(--white-color);
$background-color: var(--background-color);
$contrast-color: var(--contrast-color);
$default-color: var(--default-color);
$gray-color: var(--gray-color);
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$blue-color: var(--blue-color);
$green-color: var(--green-color);
$purple-color: var(--purple-color);
$orange-color: var(--orange-color);
$dark-blue-color: var(--dark-blue-color);
$accent-color: var(--accent-color);
$linear-gradient-color: var(--linear-gradient-color);
$active-color: var(--orange-color);

$colors: (
  "background-color": $background-color,
  "contrast-color": $contrast-color,
  "default-color": $default-color,
  "primary-color": $primary-color,
  "secondary-color": $secondary-color,
  "blue-color": $blue-color,
  "green-color": $green-color,
  "purple-color": $purple-color,
  "orange-color": $orange-color,
  "dark-blue-color": $dark-blue-color,
  "accent-color": $accent-color,
  "gray-color": $gray-color,
  "linear-gradient-color": $linear-gradient-color,
  "active-color": $active-color,
);

@each $key, $value in $colors {
  .#{$key} {
    color: $value;
  }
}
@each $key, $value in $colors {
  .bg-#{$key} {
    background-color: $value;
  }
}
