@use "../utilities/container-wrapper" as *;
@use "../design-tokens/colors" as *;
/* ----- ANIMATIONS ----- */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-out-left {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-10px);
  }
}

@keyframes scroll {
  to {
    transform: translateY($spacer-big);
  }
}

.fade-in {
  animation: fade-in 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.fade-out {
  animation: fade-out 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

@view-transition {
  navigation: auto;
}

.animation-moving {
  @media (width <= $breakpoint-sm) {
    display: none;
  }
}

@mixin flying-img-container(
  $color: $primary-color,
  $animation: circle-primary,
  $rotate: rotate(0deg),
  $width: 80px,
  $time: 10s
) {
  position: absolute;
  top: 0;
  left: 50%;
  width: $width;
  height: auto;
  z-index: -1;
  mix-blend-mode: multiply;
  animation: $animation $time linear infinite;
  pointer-events: none;

  svg {
    width: 100%;
    height: 100%;
    transform: $rotate;

    path {
      fill: $color;
    }
  }
}

.dark-theme {
  .animation-moving-item {
    background-color: $flash-color;
  }
}

.animation-moving-item {
  width: 0;
  height: 0;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  display: block;
  background-color: transparent;
  filter: blur(80px);
  transition: background-color 3s ease-in-out;

  &.animation-moving-item--cursor-follow {
    width: 100px;
    height: 100px;
    position: fixed;
    left: var(--mouse-x);
    top: var(--mouse-y);
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
}

.animation-moving {
  position: relative;
  z-index: -1;

  .flying-img-container-primary {
    @include flying-img-container(
      $orange-color,
      circle-primary,
      $width: 40px,
      $time: 100s
    );

    svg {
      animation: rotate-shift-primary 100s linear infinite;
    }
  }

  .flying-img-container-secondary {
    @include flying-img-container(
      $secondary-color,
      circle-secondary,
      $width: 40px,
      $time: 80s
    );

    svg {
      animation: rotate-shift-secondary 80s linear infinite;
    }
  }

  .flying-img-container-tertiary {
    @include flying-img-container(
      $primary-color,
      circle-tertiary,
      $width: 40px,
      $time: 100s
    );

    svg {
      animation: rotate-shift-tertiary 130s linear infinite;
    }
  }
}

@keyframes circle-primary {
  0% {
    transform: rotate(0deg) translate(-150px) rotate(0deg);
    width: 40px;
  }

  20% {
    width: 35px;
  }

  40% {
    width: 30px;
  }

  60% {
    width: 30px;
  }

  80% {
    width: 35px;
  }

  100% {
    transform: rotate(-360deg) translate(-150px) rotate(360deg);
    width: 40px;
  }
}

@keyframes rotate-shift-primary {
  0% {
    transform: rotate(0deg);
    filter: blur(0);
    opacity: 1;
  }

  20% {
    transform: rotate(72deg);
    filter: blur(0);
    opacity: 1;
  }

  40% {
    transform: rotate(144deg);
    filter: blur(5px);
    opacity: 0.8;
  }

  60% {
    transform: rotate(216deg);
    filter: blur(0);
    opacity: 1;
  }

  80% {
    transform: rotate(288deg);
    filter: blur(0);
    opacity: 1;
  }

  100% {
    transform: rotate(360deg);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes circle-secondary {
  0% {
    transform: rotate(0deg) translate(-250px) rotate(0deg);
    width: 40px;
  }

  20% {
    width: 35px;
  }

  40% {
    width: 30px;
  }

  60% {
    width: 30px;
  }

  80% {
    width: 35px;
  }

  100% {
    transform: rotate(-360deg) translate(-250px) rotate(360deg);
    width: 40px;
  }
}

@keyframes rotate-shift-secondary {
  0% {
    transform: rotate(0deg);
    filter: blur(0);
    opacity: 1;
  }

  20% {
    transform: rotate(-72deg);
    filter: blur(0);
    opacity: 1;
  }

  40% {
    transform: rotate(-144deg);
    filter: blur(5px);
    opacity: 0.8;
  }

  60% {
    transform: rotate(-216deg);
    filter: blur(0);
    opacity: 1;
  }

  80% {
    transform: rotate(-288deg);
    filter: blur(0);
    opacity: 1;
  }

  100% {
    transform: rotate(-360deg);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes circle-tertiary {
  0% {
    transform: rotate(0deg) translate(200px) rotate(0deg);
    width: 40px;
  }

  20% {
    width: 35px;
  }

  40% {
    width: 30px;
  }

  60% {
    width: 35px;
  }

  80% {
    width: 40px;
  }

  100% {
    transform: rotate(360deg) translate(200px) rotate(-360deg);
    width: 40px;
  }
}

@keyframes rotate-shift-tertiary {
  0% {
    transform: rotate(0deg);
    filter: blur(0);
    opacity: 1;
  }

  20% {
    transform: rotate(72deg);
    filter: blur(0);
    opacity: 1;
  }

  40% {
    transform: rotate(144deg);
    filter: blur(5px);
    opacity: 0.8;
  }

  60% {
    transform: rotate(216deg);
    filter: blur(0);
    opacity: 1;
  }

  80% {
    transform: rotate(288deg);
    filter: blur(0);
    opacity: 1;
  }

  100% {
    transform: rotate(360deg);
    filter: blur(0);
    opacity: 1;
  }
}

.section-team {
  .animation-moving {
    position: relative;
    z-index: 0;
    right: 50%;
    width: 100px;
    left: auto;
    margin-inline-start: auto;
    top: -50%;
    .flying-img-container-primary {
      @include flying-img-container(
        $blue-color,
        circle-primary-reviews,
        $width: 30px,
        $time: 60s
      );

      svg {
        animation: rotate-shift-primary 100s linear infinite;
      }
    }

    .flying-img-container-secondary {
      @include flying-img-container(
        $green-color,
        circle-secondary-reviews,
        $width: 30px,
        $time: 40s
      );

      svg {
        animation: rotate-shift-secondary 80s linear infinite;
      }
    }

    .flying-img-container-tertiary {
      @include flying-img-container(
        $purple-color,
        circle-tertiary-reviews,
        $width: 30px,
        $time: 60s
      );

      svg {
        animation: rotate-shift-tertiary 130s linear infinite;
      }
    }
  }
}

@keyframes circle-primary-reviews {
  0% {
    transform: rotate(0deg) translate(-150px) rotate(0deg);
    width: 30px;
  }

  20% {
    width: 25px;
  }

  40% {
    width: 20px;
  }

  60% {
    width: 25px;
  }

  80% {
    width: 30px;
  }

  100% {
    transform: rotate(-360deg) translate(-150px) rotate(360deg);
    width: 30px;
  }
}

@keyframes circle-secondary-reviews {
  0% {
    transform: rotate(0deg) translate(-250px) rotate(0deg);
    width: 30px;
  }

  20% {
    width: 25px;
  }

  40% {
    width: 25px;
  }

  60% {
    width: 25px;
  }

  80% {
    width: 30px;
  }

  100% {
    transform: rotate(-360deg) translate(-250px) rotate(360deg);
    width: 30px;
  }
}

@keyframes circle-tertiary-reviews {
  0% {
    transform: rotate(0deg) translate(200px) rotate(0deg);
    width: 30px;
  }

  20% {
    width: 25px;
  }

  40% {
    width: 25px;
  }

  60% {
    width: 25px;
  }

  80% {
    width: 30px;
  }

  100% {
    transform: rotate(360deg) translate(200px) rotate(-360deg);
    width: 40px;
  }
}

.section-footer {
  .animation-moving {
    position: relative;
    z-index: 0;
    right: 0;
    width: 100px;
    left: auto;
    margin-inline-start: auto;
    top: -150%;
    .flying-img-container-primary {
      @include flying-img-container(
        $blue-color,
        circle-primary-reviews,
        $width: 30px,
        $time: 60s
      );

      svg {
        animation: rotate-shift-primary 100s linear infinite;
      }
    }

    .flying-img-container-secondary {
      @include flying-img-container(
        $green-color,
        circle-secondary-reviews,
        $width: 30px,
        $time: 40s
      );

      svg {
        animation: rotate-shift-secondary 80s linear infinite;
      }
    }

    .flying-img-container-tertiary {
      @include flying-img-container(
        $purple-color,
        circle-tertiary-reviews,
        $width: 30px,
        $time: 60s
      );

      svg {
        animation: rotate-shift-tertiary 130s linear infinite;
      }
    }
  }
}
