@use "../utilities/container-wrapper" as *;
/* ----- ANIMATIONS ----- */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-50px);
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-out-left {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-10px);
  }
}

@keyframes scroll {
  to {
    transform: translateY($spacer-big);
  }
}

.fade-in {
  opacity: 1;
  animation: fade-in 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.fade-out {
  opacity: 0;
  animation: fade-out 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
