@use "../design-tokens/colors" as *;

/* ------- Breakpoint ------- */
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
$breakpoint-xxxl: 1600px;
$breakpoint-xxxxl: 1920px;

$breakpoints: (
  "sm": $breakpoint-sm,
  "md": $breakpoint-md,
  "lg": $breakpoint-lg,
  "xl": $breakpoint-xl,
  "xxl": $breakpoint-xxl,
  "xxxl": $breakpoint-xxxl,
  "xxxxl": $breakpoint-xxxxl,
);

/* ------- Spacer ------- */
:root {
  --spacer-xxs: 3px;
  --spacer-xs: 5px;
  --spacer-sm: 12px;
  --spacer-md: 15px;
  --spacer-lg: 20px;
  --spacer-xl: 26px;
  --spacer-xxl: 50px;
  --spacer-big: 100px;
  --spacer-bigger: 200px;
}

$spacer-xxs: var(--spacer-xxs);
$spacer-xs: var(--spacer-xs);
$spacer-sm: var(--spacer-sm);
$spacer-md: var(--spacer-md);
$spacer-lg: var(--spacer-lg);
$spacer-xl: var(--spacer-xl);
$spacer-xxl: var(--spacer-xxl);
$spacer-big: var(--spacer-big);
$spacer-bigger: var(--spacer-bigger);
$spacer-vi-xs: calc($spacer-xs + 0.5vi);
$spacer-vi-sm: calc($spacer-sm + 0.5vi);
$spacer-vi-md: calc($spacer-md + 0.5vi);
$spacer-vi-lg: calc($spacer-lg + 0.5vi);
$spacer-vi-xl: calc($spacer-xl + 0.5vi);
$spacer-vi-xxl: calc($spacer-xxl + 0.5vi);
$spacer-vi-big: calc($spacer-big + 0.5vi);
$spacer-vi-bigger: calc($spacer-bigger + 0.5vi);

$spacers: (
  "xxs": $spacer-xxs,
  "xs": $spacer-xs,
  "sm": $spacer-sm,
  "md": $spacer-md,
  "lg": $spacer-lg,
  "xl": $spacer-xl,
  "xxl": $spacer-xxl,
  "big": $spacer-big,
  "bigger": $spacer-bigger,
);

@each $key, $value in $spacers {
  .gap-#{$key} {
    gap: $value;
  }
}

/* ------- Wrapper ------- */

$wrapper-padding-inline: $spacer-md;

.container {
  .wrapper {
    padding-inline: $wrapper-padding-inline;
  }
}

/* ------- Container ------- */

@mixin container() {
  width: 100%;
  padding-inline: $spacer-xl;
  @each $key, $value in $breakpoints {
    @media (width >= $value) and (width >= $breakpoint-sm) {
      width: calc($value - 10%);
    }
  }
}

.container {
  margin-inline: auto;
  @include container;
}
