@use "../../design-tokens/colors" as *;
@use "../../design-tokens/tokens" as *;
@use "../../design-tokens/fonts" as *;
@use "../../utilities/container-wrapper" as *;
@use "../../components/atoms/text" as *;
@use "../../components/atoms/title" as *;
/* ------- BUTTONS  ------- */

@mixin btn {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-color: transparent;
  &:not(.burger-container, .slide-button, .slide-bullet):focus {
    outline: 2px solid $blue-color;
    outline-offset: $spacer-xs;
  }
}

.btn {
  @include btn;
}

// PRIMARY BUTTON

@mixin button-background-primary {
  width: fit-content;
  background-color: $primary-color;
  button,
  a,
  input[type="submit"] {
    color: $contrast-color;
    padding-block: $spacer-sm;
    padding-inline: $spacer-lg;
    display: inline-block;
    text-decoration: none;
    @include text-button;
  }
  &:hover {
    button,
    a,
    .btn,
    input[type="submit"] {
      color: $contrast-color;
    }
  }
}

@mixin button-background-white {
  width: fit-content;
  background-color: $background-color;
  button,
  a,
  input[type="submit"] {
    color: $primary-color;
    padding-block: $spacer-sm;
    padding-inline: $spacer-lg;
    display: inline-block;
    text-decoration: none;
    @include text-button;
  }
  &:hover {
    button,
    a,
    .btn,
    input[type="submit"] {
      color: $primary-color;
    }
  }
}

// SECONDARY BUTTON
@mixin button-background-secondary(
  $bg-color: $secondary-color,
  $color: $contrast-color
) {
  width: fit-content;
  background-color: $bg-color;
  transition: background-color 0.3s ease-in-out;
  button,
  a,
  .btn,
  input[type="submit"] {
    color: $contrast-color;
    padding-block: $spacer-sm;
    padding-inline: $spacer-md;
    border: 2px solid $bg-color;
    display: inline-block;
    text-decoration: none;
    @include text-button;
  }
  &:hover {
    transition: background-color 0.3s ease-in-out;
    background-color: $bg-color;
    button,
    a,
    .btn,
    input[type="submit"] {
      color: $color;
    }
  }
}

.button-background-secondary {
  @include button-background-secondary;
}

// ICON BUTTON

@mixin button-icon-container(
  $color: $contrast-color,
  $hover-color: $contrast-color
) {
  button,
  a,
  .btn,
  input[type="submit"] {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: end;
    display: inline-block;
    transition: border-color 0.3s ease-in-out;
    svg {
      width: var(--font-size-xs);
      height: var(--font-size-xs);
      margin-inline-start: $spacer-sm;
      vertical-align: bottom;
      animation: arrow-animation-down 0.3s ease-in-out forwards;
      path {
        stroke: $color;
        fill: $color;
      }
      @media (width >= $breakpoint-lg) {
        width: var(--font-size-default);
        height: var(--font-size-default);
      }
    }
  }
  &:hover {
    svg {
      path {
        stroke: $hover-color;
        fill: $hover-color;
      }
      animation: arrow-animation-up 0.3s ease-in-out forwards;
    }
  }
  &:active,
  &:focus {
    background: $active-color;
  }
}

.button-background-secondary-icon {
  @include button-background-secondary;
  @include button-icon-container;
  &:hover {
    background-color: $white-color;
    transition: background-color 0.3s ease-in-out;
    a {
      border-color: $white-color;
      transition: border-color 0.3s ease-in-out;
    }
    span {
      transition: color 0.3s ease-in-out;
      color: $secondary-color;
    }
    svg {
      path {
        stroke: $secondary-color;
        fill: $secondary-color;
        transition:
          stroke 0.3s ease-in-out,
          fill 0.3s ease-in-out;
      }
    }
  }
}

@keyframes arrow-animation-up {
  0% {
    transform: translateX(0);
  }
  25% {
    opacity: 0;
  }
  50% {
    transform: translateY(calc(var(--font-size-default) * -1))
      translateX(var(--font-size-default));
    opacity: 0;
  }
  75% {
    transform: translateY(calc(var(--font-size-default) * 1))
      translateX(calc(var(--font-size-default) * -1));
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}

@keyframes arrow-animation-down {
  0% {
    transform: translateX(0);
  }
  25% {
    opacity: 0;
  }
  50% {
    transform: translateY(calc(var(--font-size-default) * 1))
      translateX(calc(var(--font-size-default) * -1));
    opacity: 0;
  }
  75% {
    transform: translateY(calc(var(--font-size-default) * -1))
      translateX(var(--font-size-default));
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}

.button-background-white {
  @include button-background-white;
  &:hover {
    background-color: $background-color;
    .hover-bg {
      background-color: $contrast-2-color;
    }
  }
  .hover-bg {
    background-color: $contrast-2-color;
  }
}

.dark-theme,
.dark-theme-transition {
  .button-background-white {
    &:hover {
      .hover-bg {
        background-color: $contrast-2-color;
      }
    }
    .hover-bg {
      background-color: $contrast-2-color;
    }
  }
}

.button-background-primary {
  @include button-background-primary;
  &:hover {
    background-color: $primary-color;
    .hover-bg {
      background-color: $button-primary-hover-color;
    }
  }
  .hover-bg {
    background-color: $button-primary-hover-color;
  }
}

@mixin button-background-animation {
  position: relative;
  overflow: hidden;
  .hover-bg {
    --tw-translate-x: -70%;
    --tw-translate-y: -70%;
    translate: var(--tw-translate-x) var(--tw-translate-y);
    transform-origin: 50% 50%;
    inset-inline-start: 50%;
    top: 50%;
    inset-inline-start: var(--creative-hover-left);
    top: var(--creative-hover-top);
    z-index: 5;
    height: calc($spacer-vi-sm * 0);
    width: calc($spacer-vi-sm * 0);
    border-radius: 3.40282e38px;
    transition:
      width 0.6s,
      height 0.6s;
    display: block;
    position: absolute;
  }
  button,
  a,
  .btn,
  input[type="submit"] {
    position: relative;
    z-index: 10;
    display: inline-block;
    text-decoration: none;
    &:focus {
      outline-offset: calc($spacer-xs * -1);
    }
  }
  &:hover {
    button,
    a,
    .btn,
    input[type="submit"] {
      position: relative;
      z-index: 10;
    }
    .hover-bg {
      width: 80em;
      height: 80em;
    }
  }
}

.button-background-animation {
  @include button-background-animation;
}

@mixin button-wave-animation(
  $bg-color: $secondary-color,
  $color: $contrast-color
) {
  & .btn {
    text-shadow: 0 calc(var(--font-size-md) * 1) 0 $color;
    display: flex;
    width: fit-content;
    overflow: hidden;
    position: relative;
    mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      transparent $spacer-sm,
      black $spacer-sm,
      black calc(100% - $spacer-sm),
      transparent calc(100% - $spacer-sm),
      transparent 100%
    );
    -webkit-mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      transparent $spacer-sm,
      black $spacer-sm,
      black calc(100% - $spacer-sm),
      transparent calc(100% - $spacer-sm),
      transparent 100%
    );
    &:hover {
      color: $bg-color;
    }
    &:focus {
      outline: 2px solid $blue-color;
      outline-offset: calc($spacer-sm * -1.5);
    }
  }
  @media (width <= $breakpoint-xl) {
    & .btn {
      text-shadow: 0 calc(var(--font-size-sm) * 1) 0 $color;
    }
  }

  & span {
    display: inline-block;
    transition: transform 0.1s ease-in-out;
    transform: translate(0, 0);
  }

  &:hover span {
    transform: translate(0, -135%);
    transition: transform 0.1s ease-in-out;
    @media (width >= $breakpoint-xl) {
      transform: translate(0, -150%);
    }
  }
}

.button-wave-animation {
  @include button-wave-animation;
}

.icon-button {
  background-color: transparent;
  cursor: pointer;
  display: flex;
  svg {
    width: $icon-sm;
    height: $icon-sm;
    fill: $primary-color;
    display: block;
  }
}

//molecules
@mixin dropdown-summary {
  display: grid;
  grid-template-columns: 1fr minmax($icon-md, auto);
  align-items: center;
  width: 100%;
  align-items: center;
  padding-block: $spacer-xl;
  @media (width >= $breakpoint-xxl) {
    grid-template-columns: minmax(500px, auto) calc($spacer-xxl * 2);
  }
  .svg-container {
    width: $icon-sm;
    height: $icon-sm;
    display: flex;
    svg {
      path {
        stroke: $default-color;
        fill: $default-color;
      }
    }
  }
}

@mixin dropdown-svg-open {
  svg {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: all 0.2s ease;
  }
}

@mixin dropdown-details {
  border-block-end: 2px solid $default-color;
  &:first-of-type {
    border-block-start: 2px solid $default-color;
  }

  &::marker {
    content: "";
    visibility: hidden;
    display: none;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  summary {
    cursor: pointer;
    @include dropdown-summary;
    .svg-container {
      width: var(--font-size-default);
      height: var(--font-size-default);
      align-self: flex-start;
      margin-inline-start: auto;
      svg {
        width: $icon-sm;
        margin: auto;
        transition: all 0.3s ease;
      }
    }
  }
  .dropdown-title {
    @include heading-medium-1;
  }
  &[open] {
    summary {
      .svg-container {
        @include dropdown-svg-open;
        svg {
          animation: none;
        }
      }
    }
    p {
      width: 100%;
      padding-block-end: $spacer-xxl;
    }
  }
  summary:focus-visible,
  a:focus-visible {
    outline: $spacer-xs solid $secondary-color;
    padding-inline: $spacer-xs;
  }
  &:focus-within:has(summary:focus-visible),
  &:focus-within:has(a:focus-visible) {
    outline: $spacer-xs solid $secondary-color;
    summary {
      outline: none;
    }
  }
  &::details-content {
    width: 100%;
  }
}

.dropdown-details {
  @include dropdown-details;
}
