@use "../../design-tokens/colors" as *;

.img-container-logo-sm {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  svg {
    fill: $primary-color;
    path {
      fill: $primary-color;
    }
  }

  border: 2px solid red;
}
