@use "../../design-tokens/fonts" as *;
@use "../../design-tokens/colors" as *;
@use "../../utilities/container-wrapper" as *;
@use "../../design-tokens/tokens" as *;

@mixin text-paragraph-1 {
  font-family: $text-font;
  font-size: $font-size-xs;
  line-height: $line-height-paragraph;
  font-weight: $font-weight-400;
  letter-spacing: $letter-spacing-paragraph;
  text-wrap: pretty;
}

@mixin text-paragraph-bold {
  font-family: $heading-font;
}

@mixin text-paragraph-lead {
  font-size: $font-size-lead;
}

@mixin text-button {
  font-family: $heading-font;
  font-size: $font-size-default;
  line-height: $line-height-heading;
  letter-spacing: $letter-spacing-heading;
  text-box-trim: trim-both;
}

@mixin text-nav {
  font-family: $text-font;
  font-size: $font-size-xs;
  line-height: $line-height-paragraph;
  letter-spacing: $letter-spacing-paragraph;
  text-box-trim: trim-both;
}

p {
  @include text-paragraph-1;
}

.text-bold {
  @include text-paragraph-bold;
}

.text-lead {
  @include text-paragraph-lead;
}
