@use "../../design-tokens/fonts" as *;
@use "../../design-tokens/colors" as *;
@use "../../utilities/container-wrapper" as *;
@use "../../design-tokens/tokens" as *;

@mixin text-base {
  font-family: $text-font;
  line-height: $line-height-paragraph;
  font-weight: $font-weight-400;
  letter-spacing: $letter-spacing-paragraph;
  text-wrap: pretty;
}

@mixin text-paragraph-1 {
  font-size: $font-size-default;
  @include text-base;
}

@mixin text-paragraph-bold {
  font-family: $heading-font;
}

@mixin text-paragraph-lead {
  font-size: $font-size-lead;
}

@mixin text-button {
  font-family: $heading-font;
  font-size: $font-size-default;
  line-height: $line-height-heading;
  letter-spacing: $letter-spacing-heading;
  text-box-trim: trim-both;
  @media (width <= $breakpoint-xl) {
    font-size: $font-size-default;
  }
}

@mixin text-nav {
  @include text-base;
  font-size: $font-size-xs;
}

@mixin text-lead {
  @include text-paragraph-1;
  @include text-paragraph-lead;
}

p {
  @include text-paragraph-1;
}

.text-bold {
  @include text-paragraph-1;
  @include text-paragraph-bold;
}

.text-lead {
  @include text-paragraph-1;
  @include text-paragraph-lead;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@mixin stretched-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}

@mixin list {
  & {
    padding-inline: $spacer-sm;
    padding-block: $spacer-xl;
    li {
      margin-bottom: $spacer-md;
      margin-inline-start: $spacer-lg;
    }
    li:last-child {
      margin-bottom: 0;
    }
  }
}
