@use "../../design-tokens/fonts" as *;
@use "../../design-tokens/colors" as *;
@use "../../utilities/container-wrapper" as *;

@mixin heading-base {
  font-family: $heading-font;
  line-height: $line-height-heading;
  font-weight: $font-weight-400;
  letter-spacing: $letter-spacing-heading;
  text-wrap: balance;
}

@mixin heading-big-1 {
  font-size: $font-size-md-lg;
  @include heading-base;
  @media (width >= $breakpoint-md) {
    font-size: $font-size-xl;
  }
  @media (width >= $breakpoint-xl) {
    font-size: $font-size-xxl;
  }
}

@mixin heading-big-2 {
  font-size: $font-size-md;
  @include heading-base;
  @media (width >= $breakpoint-md) {
    font-size: $font-size-xl;
  }
}

@mixin heading-large-1 {
  font-size: $font-size-lg;
  @include heading-base;
  @media (width <= $breakpoint-md) {
    font-size: $font-size-md;
  }
}

@mixin heading-medium-large-1 {
  font-size: $font-size-md-lg;
  @include heading-base;
}

@mixin heading-medium-1 {
  font-size: $font-size-md;
  @include heading-base;
}

@mixin heading-small-1 {
  font-size: $font-size-sm;
  @include heading-base;
}

@mixin title-gradient {
  background-image: $linear-gradient-color;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 100% 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  width: fit-content;
}

.title-gradient {
  @include title-gradient;
  @include heading-big-1;
}

.heading-big-1 {
  @include heading-big-1;
}

.heading-big-2 {
  @include heading-big-2;
}

.heading-large-1 {
  @include heading-large-1;
}

.heading-medium-large-1 {
  @include heading-medium-large-1;
}

.heading-medium-1 {
  @include heading-medium-1;
}

.heading-small-1 {
  @include heading-small-1;
}

.section-title {
  @include heading-large-1;
  color: $primary-color;
  text-align: center;
  margin-block: $spacer-xxl;
}

.page-title {
  margin-block: $spacer-big;
}
