@use "../../design-tokens/_colors" as *;
@use "../../design-tokens/_tokens" as *;
@use "../../utilities/_container-wrapper" as *;
@use "../../components/atoms/burger" as *;
@use "../../design-tokens/_fonts" as *;
@use "../../components/atoms/text" as *;
@use "../../utilities/animations" as *;

.header {
  display: grid;
  grid-template-columns: $spacer-big 1fr auto auto;
  align-items: center;
  margin-block: $spacer-vi-md $spacer-vi-xxl;
  position: relative;
  .button-container {
    position: relative;
    z-index: 100;
  }
  .img-container-logo-sm {
    width: 100px;
  }
}

/* ----- NAVBAR DESKTOP ----- */
@media (width >= $breakpoint-lg) {
  .navmenu-mobile {
    display: none;
  }

  .navmenu-desktop {
    ul {
      width: fit-content;
      margin-inline: auto;
      display: flex;
      align-items: center;
    }
  }
}

/* ----- NAVBAR MOBILE ----- */
body:has(.navmenu-mobile:popover-open) {
  overflow: hidden;
}

@media (width <= $breakpoint-lg) {
  .header {
    .burger-menu-container {
      display: flex;
      align-items: center;
      gap: $spacer-vi-md;
    }
  }
  .navmenu-desktop#navmenu-header {
    display: none;
  }
  .navmenu-mobile {
    background-color: $background-color;
    position: fixed;
    inset: 0;
    opacity: 0;
    width: fit-content;
    display: none;
    transition:
      display 0.3s ease-out,
      opacity 0.3s ease-out;
    animation: fade-in 0.3s ease-out;
    z-index: 50;
    overflow: auto;
    height: 100vh;
    padding-block-start: $spacer-xl;
    .nav-menu-item,
    .megamenu-services-button {
      margin-block-end: $spacer-vi-md;
    }
  }

  @media (width <=$breakpoint-xl) {
    #navmenu-header-mobile:popover-open {
      opacity: 1;
      display: flex;
      flex-direction: column;
      width: 100%;
      animation: fade-in 0.3s ease-out;
    }
  }
}

@media (width >= $breakpoint-lg) {
  .header {
    grid-template-rows: 30px;
  }
  .burger-menu-container .burger-container {
    display: none;
  }
  .burger-menu {
    display: none;
  }
}

#navmenu-header-mobile {
  .section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-block-end: $spacer-xxl;

    .btn {
      width: $icon-sm;
      height: $icon-sm;
      min-width: $icon-sm;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      svg {
        width: 100%;
        height: 100%;

        path {
          fill: $primary-color;
          stroke: $primary-color;
        }
      }
    }
  }
  & > ul {
    display: flex;
    width: 100%;
    padding: $spacer-xl $spacer-xxl;
    align-items: initial;
  }
  .img-container {
    padding: $spacer-sm;
    width: 75px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .card {
    width: 100%;
    position: relative;
    height: fit-content;
    transition:
      box-shadow 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94),
      border-color 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    &:hover {
      border-color: $default-color;
      a {
        color: $default-color;
      }
      .svg-container svg path {
        fill: $default-color;
        stroke: $default-color;
      }
    }
    .flex-between {
      display: flex;
      justify-content: space-between;
      align-items: end;
      width: 100%;
      a {
        @include text-paragraph-bold;
        text-decoration: none;
        &::after {
          @include stretched-link;
        }
      }
      .svg-container {
        width: $font-size-default;
        svg {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
