@use "../../design-tokens/colors" as *;
@use "../../design-tokens/fonts" as *;
@use "../../design-tokens/tokens" as *;
@use "../../utilities/container-wrapper" as *;
@use "../../components/atoms/button" as *;
@use "../../components/atoms/text" as *;
@use "../../components/atoms/title" as *;

@mixin slider-nav($color, $hover-color) {
  position: relative;
  margin-block-end: $spacer-xxl;

  .slider-wrapper {
    --gap: 1rem;
    display: flex;
    overflow-x: auto;
    gap: var(--gap);
    padding-inline-end: calc(var(--gap));
    scroll-snap-type: x proximity;
    scroll-padding-inline: calc(var(--gap) * 0.5);

    @media (width >=$breakpoint-md) {
      --gap: 2rem;
    }

    .slide {
      min-width: calc((100% - (var(--items) - 1) * var(--gap)) / var(--items));
      scroll-snap-align: start;
      padding-block: $spacer-xl;
    }

    @media (width >=$breakpoint-md) and (pointer: fine) {
      overflow: hidden;
    }

    @media (width <=$breakpoint-md) {
      scroll-padding-inline: 0;

      &::-webkit-scrollbar {
        height: 10px;
      }

      &::-webkit-scrollbar-track {
        background: $primary-color;
        border-radius: 999px;
      }

      &::-webkit-scrollbar-thumb {
        background: $secondary-color;
        border-radius: 999px;
      }

      .slide {
        scroll-snap-align: center;
      }
    }
  }

  .wrapper-button-container {
    width: fit-content;
    display: grid;
    gap: $spacer-xl;
    grid-template-columns: repeat(2, 1fr);

    // @media (width <=$breakpoint-md) {
    //   display: none;
    // }

    .slide-button-container {
      .btn {
        border: 1px solid $default-color;
        border-radius: $border-radius-circle;
        padding: $spacer-xs;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:first-child {
        justify-self: start;
      }

      &:last-child {
        justify-self: end;
      }
    }
  }

  .slide-button-container {
    margin-block: $spacer-md;

    .btn {
      width: $icon-lg;
      height: $icon-lg;
      opacity: 1;

      span {
        display: inherit;
        vertical-align: middle;
      }

      &[hidden],
      &.disabled {
        opacity: 0.5;
        &:hover {
          background-color: inherit;
        }

        svg {
          path {
            stroke: $default-color;
            fill: $default-color;
          }
        }
      }

      svg {
        width: 100%;
        height: 100%;

        path {
          stroke: $default-color;
          fill: $default-color;
        }
      }

      &:hover {
        background-color: $secondary-color;
        cursor: pointer;

        svg path {
          stroke: $default-color;
          fill: $default-color;
        }
      }
    }
  }
}

#section-featured-posts,
#section-related-posts {
  --items: 1;
  @include slider-nav($primary-color, $secondary-color);

  @media (width >=$breakpoint-md) {
    --items: 2;
  }
  @media (width >=$breakpoint-xxl) {
    --items: 3.5;
  }
  @media (width >=$breakpoint-xxxxl) {
    --items: 4.5;
  }
}

#section-related-projects {
  --items: 2;
  padding-inline: $spacer-xxl;
  @include slider-nav($primary-color, $secondary-color);
  .slide {
    padding-block: 0;
    padding-inline: $spacer-xs;
  }
}

.references-gallery {
  --items: 1;
  @include slider-nav($primary-color, $secondary-color);
  margin-block-end: 0;
  .slider-wrapper {
    --gap: 0.1em;
    height: 100%;
  }
}
