@use "../../design-tokens/colors" as *;
@use "../../design-tokens/tokens" as *;
@use "../../utilities/container-wrapper" as *;
@use "../../components/atoms/title" as *;
.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: $spacer-md;
  padding: $spacer-md;
  background-color: $background-color;
  color: $default-color;
  text-decoration: none;
}

@mixin blog-card {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  max-width: 400px;
  @media (width >= $breakpoint-xl) {
    max-width: 100%;
  }
  h3 {
    @include heading-medium-1;
  }
  img {
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 500px;
    transition: transform 0.3s ease-in-out;
  }
  a {
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease;
    transform: scale(0.975);
    &:hover {
      transform: scale(1);
      transition: transform 0.5s ease;
    }
    &:hover::before {
      opacity: 1;
      transform: rotate(-45deg) translateY(100%);
    }
    &::before {
      content: "";
      position: absolute;
      top: -50%;
      left: -50%;
      width: 200%;
      height: 200%;
      background: linear-gradient(
        0deg,
        transparent,
        transparent 30%,
        color-mix(in srgb, $primary-color 50%, transparent)
      );
      transform: rotate(-45deg);
      transition: all 0.5s ease;
      opacity: 0;
      z-index: 10;
    }
  }
  .cat-container {
    span {
      a {
        text-decoration: none;
      }
    }
  }
}
