@use "../../utilities/container-wrapper" as *;
@use "../../design-tokens/colors" as *;
@use "../../components/atoms/title" as *;
@use "../../components/atoms/text" as *;
@use "../../components/atoms/post-preview" as *;
@use "../../utilities/animations" as *;
@use "../../components/molecules/cards" as *;

@mixin layout-base {
  display: flex;
  flex-direction: column;
  gap: calc($spacer-xl + 2vi);
  padding-block-start: $spacer-xxl;
  .layout-img {
    width: 100%;
    margin-inline: auto;
    max-width: 75ch;
    height: 400px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .layout-content {
    width: 100%;
    padding-block-end: $spacer-xxl;
  }
  @media (width >= $breakpoint-lg) {
    .layout-img {
      height: 500px;
    }
  }
  @media (width >= $breakpoint-xl) {
    padding-inline: 0;
    .layout-img {
      height: auto;
    }
  }
}

@mixin layout-left-right() {
  @include layout-base;
  gap: $spacer-lg;
  @media (width <= $breakpoint-xl) {
    gap: calc($spacer-xl + 2vi);
  }
  .layout-content {
    & > div:first-child {
      margin-inline: auto;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: $spacer-xl;
      @media (width >= $breakpoint-lg) {
        max-width: 75ch;
      }
    }
  }
  @media (width >= $breakpoint-xl) {
    flex-direction: row;
    padding-block-start: 0;
    .layout-img {
      margin-inline: 0;
      display: flex;
      justify-content: start;
      width: 50vw;
      max-width: 700px;
      transform: translateY(calc($spacer-big * -1));
    }
    .layout-content {
      display: flex;
      justify-content: end;
      width: 50vw;
      padding-block: $spacer-xxl $spacer-big;
    }
  }
}

.layout-left-right {
  @include layout-left-right;
}

@mixin layout-right-left {
  @include layout-base;
  .layout-content {
    & > div:first-child {
      margin-inline: auto;
      max-width: 75ch;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: $spacer-xxl;
      justify-content: space-around;
    }
    @media (width <= $breakpoint-md) {
      padding-inline: $spacer-xl;
    }
  }

  @media (width >= $breakpoint-xl) {
    padding-block-start: 0;
    flex-direction: row-reverse;
    justify-content: end;
    .layout-img {
      margin-inline: 0;
      display: flex;
      justify-content: start;
      width: 50vw;
      max-height: 600px;
      transform: translateY(calc($spacer-big * -1));
    }
    .layout-content {
      display: flex;
      margin-inline-start: 10%;
      width: 50vw;
      padding-block: 0 $spacer-big;
      @media (width <= $breakpoint-sm) {
        padding-inline: $spacer-xl;
      }
    }
  }
}
.layout-right-left {
  @include layout-right-left;
}

@mixin column-layout {
  --gap: var(--spacer-lg);
  columns: 400px;
  gap: var(--gap);
  .card {
    break-inside: avoid;
    margin-block-end: var(--gap);
    .img-container {
      overflow: hidden;
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .card:nth-child(1) {
    .img-container {
      height: 600px;
    }
  }
  .card:nth-child(2) {
    .img-container {
      height: 300px;
    }
  }
  .card:nth-child(3) {
    .img-container {
      height: 300px;
    }
  }
  .card:nth-child(4) {
    .img-container {
      height: 500px;
    }
  }
}

@mixin card-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: $spacer-xl;
  @media (width >= $breakpoint-xxl) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: $spacer-xl;
    margin-inline: auto;
    max-width: calc(400px * 3 + $spacer-xl * 2);
  }

  .card {
    margin-inline: auto;
    max-width: 400px;
    gap: $spacer-lg;
    transition: box-shadow 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    &:hover {
      h3 {
        color: $primary-color;
        transition: color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      }
    }
    h3 {
      @include heading-medium-1;
    }
    img {
      object-fit: cover;
      aspect-ratio: 1/1;
      width: 100%;
      height: 100%;
    }
    a {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      @media (width >= $breakpoint-sm) {
        transform: scale(1);
        transition: transform 0.3s ease;
      }
    }
  }
}
@mixin product-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  gap: $spacer-xl;

  @media (width >=$breakpoint-lg) {
    grid-template-columns: repeat(2, 1fr);
    max-width: calc(400px * 2 + $spacer-xl);
    margin-inline: auto;
  }

  @media (width >=$breakpoint-xxl) {
    grid-template-columns: repeat(3, 1fr);
    margin-inline: auto;
    max-width: calc(400px * 3 + $spacer-xl * 2);
    gap: $spacer-xxl;
  }
}
.product-grid {
  @include product-grid;
}
